# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# IDE / Editor folders
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Build output
dist/
build/
